################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/ConsoleApp/obj
/ConsoleApp/.vs/ConsoleApp/v16
/ConsoleApp/ConsoleApp/bin/Debug/net5.0
